body {
    background-image: url("https://img.jakpost.net/c/2020/03/24/2020_03_24_90456_1585030352._large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Domine", serif;
    color: black;
  }